<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Lexiverse</title>
    <style>
      body {
        background: linear-gradient(
          to right top,
          #ffff,
          #f3f5fa,
          #eaeffa,
          #e2ebfd
        );
        min-height: 100vh;
      }

      .navbar {
        background-color: #e2ebfd;
      }

      .card {
        background-color: transparent;
      }

      .card-body {
        background-color: #e2ebfd;
      }
    </style>
    <link rel="shortcut icon" href="/images/logo_white.png" type="x-icon" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-light px-4">
        <a class="navbar-brand" href="/index"
          ><img src="/images/logo.png" width="50" alt=""
        /></a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link active" href="/index">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact">Contact</a>
            </li>
          </ul>
        </div>
      </nav>
    </header>
    <div class="container">
      <div class="row">
        <div
          class="col-sm-4 mt-5 mb-3 mb-sm-0"
          style="background-color: transparent"
        >
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Chat with me</h5>
              <p class="card-text">
                A Generative AI text provider like ChatGPT running on voice
                command.
              </p>
              <a href="/chat" class="btn btn-primary">Try out</a>
            </div>
          </div>
        </div>
        <div class="col-sm-4 mt-5" style="background-color: transparent">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Image Generator</h5>
              <p class="card-text">
                An Image Genrator like DALL-E running on voice command.
              </p>
              <a href="/image" class="btn btn-primary">Try out</a>
            </div>
          </div>
        </div>
        <div class="col-sm-4 mt-5" style="background-color: transparent">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Translate & Transcribe</h5>
              <p class="card-text">
                Translate and Transcribe anything you say to any language.
              </p>
              <a href="/translate" class="btn btn-primary">Try out</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
      integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
